html
    box-sizing: border-box
*,
*::before,
*::after
    box-sizing: inherit
a
    display: inline-block
    text-decoration: none
    color: $color-text

ul,
li
    margin: 0
    padding: 0
    list-style: none
body
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: 15px
    line-height: 24px
    color: $color-text
    overflow-x: hidden
.container
    max-width: 1200px
    margin: 0 auto
    padding: 0 15px
.container-fluid
    width: 100%
    margin: 0 auto
    padding: 0 30px
.content__wrapper
  background-color: $grey
@media (max-width: 720px)
    .container-fluid
        padding: 0 15px
.search.page-search
  min-height: 120px
  & .search__inner
    padding: 80px 0 100px
.title
    color: $dark-bg
    font-weight: 700
    font-size: 36px
    line-height: 60px
    text-align: center
    margin-bottom: 30px
.rate-star
    display: inline-block
    margin-right: 14px
.angel-right
  padding-left: 15px
  position: relative
  &::before
    content: '\f105'
    font-family: 'icomoon'
    font-size: 14px
    color: $green
    position: absolute
    left: 0
.breadcrumbs
  &__inner
    padding: 45px 0px 40px
    overflow: hidden
    width: 1200px
  &__list
    li
      display: inline-block
      position: relative
      & + li
        padding-left: 24px
        &::before
          content: '-'
          position: absolute
          left: 8px
          color: $green
      &:last-child
        a,
        span
          color: $dark-bg
    a
      color: #b0bec5
@mixin select-form
  .jq-selectbox
    width: 100%
  .jq-selectbox__select
    height: 40px
    line-height: 40px
    padding: 0 17px
    border: 1px solid #d7d7d7
    border-bottom-color: #d7d7d7
    border-radius: 0
    background: #f9f9f9
    box-shadow: none
    font-family: 'Roboto', sans-serif
    color: #707070
    text-shadow: none
  .jq-selectbox__dropdown
    top: 35px
  .jq-selectbox__trigger
    border-left: none
  .jq-selectbox__trigger-arrow
    border: none
    top: 0
    right: 20px
    line-height: 40px
    font-size: 15px
    &::before
      content: '\f0d7'
      font-family: 'icomoon'

#dialog-content
  display: none